.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

:root {
  --primary-color: #fffdd0;
  --secondary-color: #001f3f;
}

body {
  font-family: "Roboto mono";
  background-color: var(--primary-color);
}

.container {
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b); */
}

header {
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b); */
  background-color: var(--secondary-color);
}
.about {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.info {
  flex: 1 1 50%;
}

.about > img {
  height: 500px;
}

.info > p {
  margin-top: 2rem;
}

.links {
  margin-top: 10px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.info {
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 1 1 0;
  margin: auto auto;
  background-color: var(--primary-color);
}

h1 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.work {
  margin-top: 5rem;
}

.work > h1 {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 2rem; */
}
.card {
  width: 600px;
  height: auto;
  min-height: 300px;
  padding: 1rem;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  /* flex-shrink: 1; */
}

.cards > * {
  /* flex: 0 1 1; */
}

.card {
  flex-shrink: 1;
  height: 100%;
}

.card > img {
  object-fit: cover;
  width: 100%;
}

.card > img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.card > img {
  transform: scale(1);
  transition: transform 0.2s;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  margin-top: 5rem;
}

.foot {
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.foot > * {
  flex: 1;
}

.street {
  margin-top: 3rem;
}
.footer-image {
  width: 400px;
}

.phone,
.email {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.links > a:hover {
  transform: rotate(1turn);
  transition: transform 0.6s;
}

/* .links > a {
  transform: rotate(1turn);
  transition: transform 1s;
} */

/* .phone > * {
  flex: 1;
}
.email > * {
  flex: 1;
} */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .about > img {
    width: 100%;
  }

  .work {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.6rem;
  }

  .footer-image {
    /* width: 100px; */
    width: 50%;
  }
}
